@import './another.scss';


html {
  font-family: Roboto, aisha;
  background-image: url("../../imgs/bg.png");
  margin: 10px;
}

@font-face {
  font-family: "aisha";
  src: url("../../fonts/aisha.ttf") format("truetype");
  }
